<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="section-title">
                <h2>About</h2>
                <p>Hello, my name is <span class="justin-peacock">Justin Peacock</span> and I’m a full stack developer in the .NET stack. Over the last 4 years, I’ve been in several different industries including retail, maintenance, and general labor. While working in those career fields, I underwent training at trade school and attended community college. In those career fields, my responsibilities included going through quality checks and inspections to ensure products and equipment met the company and clients’ quality and safety standards to meet the clients’ requests. I’ve always had a passion for technology and activities that mentally challenged me. I’ve wanted a career where I can engage in those activities so I finally sought out education and training at Centriq where I learned different coding languages within the .NET stack such as HTML, CSS, C#, and JavaScript. During my training, I’ve found a love for the logic behind C# and I was able to use critical thinking and troubleshooting skills I used in my previous careers to assist me in improving my skills as a developer.</p>
            </div>

            <div class="row">
                <div class="col-lg-4" data-aos="fade-right">
                    @*<img src="~/Content/assets/img/profile-img.jpg" class="img-fluid" alt="">*@
                </div>
                <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                    <h3>Full Stack Web Developer.</h3>
                    <p class="fst-italic">
                        <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua.-->
                    </p>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>May, 31 1999</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+816-548-0301</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Columbia, MO, USA</span></li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>22</span></li>

                                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>justinpeacock30@outlook.com</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                            </ul>
                        </div>
                    </div>
                    <p>
                        I live with my partner, Kelli and our 5 pets in Columbia, Missori where my partner is earning her Bachelor's in Interdisciplanary Studies at the University of Missouri where she works as a Student Ambassador, Senior Student Assistant in the Discovery and Transfer Center, and Senior Summer Welcome Assistant.
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Facts Section ======= -->
    <!--<section id="facts" class="facts">
        <div class="container">

            <div class="section-title">
                <h2>Facts</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div>

            <div class="row no-gutters">

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
                    <div class="count-box">
                        <i class="bi bi-emoji-smile"></i>
                        <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                        <p><strong>Happy Clients</strong> consequuntur quae</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="count-box">
                        <i class="bi bi-journal-richtext"></i>
                        <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
                        <p><strong>Projects</strong> adipisci atque cum quia aut</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="count-box">
                        <i class="bi bi-headset"></i>
                        <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
                        <p><strong>Hours Of Support</strong> aut commodi quaerat</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="count-box">
                        <i class="bi bi-people"></i>
                        <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
                        <p><strong>Hard Workers</strong> rerum asperiores dolor</p>
                    </div>
                </div>

            </div>

        </div>
    </section>-->
    <!-- End Facts Section -->
    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Skills</h2>
                <p>This a list of my skills within programming. Attached to each skill is a confidence level based on my experience with the programming skill.</p>
            </div>

            <div class="row skills-content">

                <div class="col-lg-6" data-aos="fade-up">

                    <div class="progress">
                        <span class="skill">HTML <i class="val">100%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">CSS <i class="val">90%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">JavaScript <i class="val">75%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

                    <div class="progress">
                        <span class="skill">C# <i class="val">80%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">Source Control <i class="val">50%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">SQL <i class="val">85%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </section><!-- End Skills Section -->
    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container">

            <div class="section-title">
                <h2>Resume</h2>
                <!--<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>-->
            </div>

            <div class="row">
                <div class="col-lg-6" data-aos="fade-up">
                    <h3 class="resume-title">Sumary</h3>
                    <div class="resume-item pb-0">
                        <h4><span class="justin-peacock">Justin Peacock</span></h4>
                        <p><em><!--Innovative and deadline-driven Full Stack Web Developer with 3+ years of experience designing and developing user-centered digital/print marketing material from initial concept to final, polished deliverable.--></em></p>
                        <ul>
                            <li>Kansas City, MO/Columbia, MO</li>
                            <li>(816)548-0301</li>
                            <li>justinpeacock30@gmail.com</li>
                            <li>justinpeacock30@outlook.com</li>
                        </ul>
                    </div>

                    <h3 class="resume-title">Education</h3>
                    <div class="resume-item">
                        <h4>Construction Technology (Home Builder's Institute</h4>
                        <h5>2017</h5>
                        <p><em>Excelsior Springs Job Corps, Excelsior Springs, MO</em></p>
                        <p>Improve and study general maintenance around the Excelsior Springs Job Corps Campus. Develop knowledge and experience in the construction technology field in areas such as HVAC, landscaping, and carpentry.</p>
                    </div>
                    <div class="resume-item">
                        <h4>Full Stack Web Development</h4>
                        <h5>2022</h5>
                        <p><em>Centriq IT Training</em></p>
                        <p>Aqcuire knowledge on what it means to develop a full stack web application. Build different kinds of applications within the .Net Stack using coding languages such as HTML, CSS, JavaScript, C#, and SQL. Learn how to convert a front-end application to a full stack application using the MVC software design pattern.</p>
                    </div>

                </div>
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <h3 class="resume-title">Professional Experience</h3>
                    <div class="resume-item">
                        <h4>Assembler</h4>
                        <h5>2022</h5>
                        <p><em>Shneider Electric, Columbia, MO</em></p>
                        <ul>
                            <li>Assist team in the assembly of residential breaker boxes.</li>
                            <li>Provide safety checks throughout the day to ensure the product meets safety standards and the assembly equipment meets safety standards.</li>
                            <li>Conduct cleaning procedures throughout the assembly line.</li>
                        </ul>
                    </div>
                    <div class="resume-item">
                        <h4>Production Operator</h4>
                        <h5>2022</h5>
                        <p><em>3M, Columbia, MO</em></p>
                        <ul>
                            <li>Assist team in the assembly of a variety of stethoscopes in an assembly line.</li>
                            <li>Perform safety and quality checks to ensure product met 3M and client's quality and safety standards.</li>
                            <li>Performed assembly line safety checks to ensure team members were working in a safe and ergonomically fair environment.</li>
                            <li>Repair faulty equipment and carry out troubleshooting procedures.</li>
                        </ul>
                    </div>
                    <div class="resume-item">
                        <h4>Security Officer</h4>
                        <h5>2022</h5>
                        <p><em>Securitas, Columbia, MO</em></p>
                        <ul>
                            <li>Provide security services for the 3M production plant.</li>
                            <li>Assist other security officers in ensuring the safety of employees and products at 3M.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </section><!-- End Resume Section -->
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Portfolio</h2>
                <p>These are some of the projects I have done while attending Centriq.</p>
            </div>

            <div class="row" data-aos="fade-up">
                <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                    <div class="swiper-wrapper portfolio-projects">

                        <div class="swiper-slide">
                            <div class="testimonial-item" data-aos="fade-up">

                                <img src="~/Content/imgs/Poly EDU.jpg" height="200" width="250" />
                                <h3>FED1StudioProject</h3>
                                <h4>This web application was solely made with HTML and CSS and deployed to a subdomain.</h4>
                                <h4><a class="social-links" href="http://f1sp.projectpeacock.net/" target="_blank">Subdomain</a></h4>
                                <h4><a class="social-links" href="https://github.com/JustinPeacoc/FED1StudioProject" target="_blank">GitHub to look at the code</a></h4>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">

                                <img src="~/Content/imgs/Screenshot 2022-03-05 115653.jpg" height="200" width="250">
                                <h3>Dungeon Application Game</h3>
                                <h4>This project was made using C# to play a game fighting enemies in a Console Application</h4>
                                <h4><a class="social-links" href="https://github.com/JustinPeacoc/DungeonApp" target="_blank">Download the code to play the game</a></h4>
                            </div>
                        </div><!-- End project item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">


                                <h3>Storefront</h3>
                                <h4>This project is to help understand SQL and converting a front end application to a full stack application.</h4>
                                <h4>Storefront Link</h4>
                            </div>
                        </div><!-- End project item -->
                        <!--<div class="swiper-slide">
                            <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300">

                                <img src="imgs/Connor Dunn.jpg" class="classmates" />
                                <h3>Connor Dunn</h3>
                                <h4>Personal Site</h4>
                                <h4><a class="social-links" href="https://www.linkedin.com/in/connor-dunn-396188233/" target="_blank">LinkedIn</a></h4>
                            </div>
                        </div>-->
                        <!-- End project item -->
                        <!--<div class="swiper-slide">-->
                        <!--<div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">


                            <h3>Enrique Garcia</h3>
                            <h4>Personal Site</h4>
                            <h4>LinkedIn</h4>
                        </div>-->
                        <!--</div>--><!-- End project item -->

                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>

        </div>
    </section><!-- End Portfolio Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <!--<div class="container">

            <div class="section-title">
                <h2>Services</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                    <div class="icon"><i class="bi bi-briefcase"></i></div>
                    <h4 class="title"><a href="">Lorem Ipsum</a></h4>
                    <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="bi bi-card-checklist"></i></div>
                    <h4 class="title"><a href="">Dolor Sitema</a></h4>
                    <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon"><i class="bi bi-bar-chart"></i></div>
                    <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
                    <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon"><i class="bi bi-binoculars"></i></div>
                    <h4 class="title"><a href="">Magni Dolores</a></h4>
                    <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                    <div class="icon"><i class="bi bi-brightness-high"></i></div>
                    <h4 class="title"><a href="">Nemo Enim</a></h4>
                    <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                    <div class="icon"><i class="bi bi-calendar4-week"></i></div>
                    <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
                    <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
                </div>
            </div>

        </div>-->
    </section><!-- End Services Section -->
    <!-- ======= Testimonials Section ======= -->
    <!-- Provide links to classmates LinkedIn and personal sites -->
    <section id="testimonials" class="testimonials section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Classmates</h2>
                <p>Check out my classmates' LinkedIn and personal websites down below.</p>
            </div>

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-item" data-aos="fade-up">


                            <h3>Alex Klee</h3>
                            <h4><a class="social-links" href="http://alexklee.net/" target="_blank">Personal Site</a></h4>
                            <h4><a class="social-links" href="https://www.linkedin.com/in/alex-klee-6b962a232/" target="_blank">LinkedIn</a></h4>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">

                            <img src="~/Content/imgs/Austin Wallace.jpg" class="classmates">
                            <h3>Austin Wallace</h3>
                            <h4><a class="social-links" href="http://lc.austinwallace.net/" target="_blank">Personal Site</a></h4>
                            <h4><a class="social-links" href="https://www.linkedin.com/in/aus-wallace/" target="_blank">LinkedIn</a></h4>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">


                            <h3>Benjamin McDaniel </h3>
                            <h4><a href="fountaincitydev.com">Personal Site</a></h4>
                            <h4><a class="social-links" href="https://www.linkedin.com/in/connor-dunn-396188233/" target="_blank">LinkedIn</a></h4>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300">

                            <img src="~/Content/imgs/Connor Dunn.jpg" class="classmates" />
                            <h3>Connor Dunn</h3>
                            <h4>Personal Site</h4>
                            <h4><a class="social-links" href="https://www.linkedin.com/in/connor-dunn-396188233/" target="_blank">LinkedIn</a></h4>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">


                            <h3>Enrique Garcia</h3>
                            <h4>Personal Site</h4>
                            <h4>LinkedIn</h4>
                        </div>
                    </div><!-- End testimonial item -->
                    <div class="swiper-slide">
                        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">

                            <img src="~/Content/imgs/Ian McClaflin.jpg" class="classmates">
                            <h3>Ian McClaflin</h3>
                            <h4>Personal Site</h4>
                            <h4><a class="social-links" href="https://www.linkedin.com/in/ian-mcclaflin-982755232/" target="_blank">LinkedIn</a></h4>
                        </div>
                    </div><!-- End testimonial item -->
                    <div class="swiper-slide">
                        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">

                            <img src="~/Content/imgs/Jazmine Rizo.jpg" class="classmates">
                            <h3>Jazmine Rizo</h3>
                            <h4>Personal Site</h4>
                            <h4><a class="social-links" href="https://www.linkedin.com/in/jazmine-rizo-7aa283232" target="_blank">LinkedIn</a></h4>
                        </div>
                    </div><!-- End testimonial item -->
                    <div class="swiper-slide">
                        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">

                            <img src="~/Content/imgs/Kayla Nguyen.jpg" class="classmates">
                            <h3>Kayla Nguyen</h3>
                            <h4><a class="social-links" href="http://www.kaylawin.com/" target="_blank">Personal Site</a></h4>
                            <h4><a class="social-links" href="https://www.linkedin.com/in/kayla-n-nguyen/" target="_blank">LinkedIn</a></h4>
                        </div>
                    </div><!-- End testimonial item -->
                    <div class="swiper-slide">
                        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">

                            <img src="~/Content/imgs/Sean McKinney.jpg" class="classmates">
                            <h3>Sean Mckinney</h3>
                            <h4><a class="social-links" href="http://mckinneywebdev.com/" target="_blank">Personal Site</a></h4>
                            <h4><a class="social-links" href="https://www.linkedin.com/in/sean-a-mckinney/" target="_blank">LinkedIn</a></h4>
                        </div>
                    </div><!-- End testimonial item -->
                    <div class="swiper-slide">
                        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">

                            <img src="~/Content/imgs/Zakary Sisler.jpg" class="classmates">
                            <h3>Zakary Sisler</h3>
                            <h4><a class="social-links" href="http://zaksisler.com/" target="_blank">Personal Site</a></h4>
                            <h4><a class="social-links" href="https://www.linkedin.com/in/zakary-sisler" target="_blank">LinkedIn</a></h4>
                        </div>
                    </div><!-- End testimonial item -->
                    <div class="swiper-slide">
                        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">

                            <img src="~/Content/imgs/Matt Roberts.jpg" class="classmates">
                            <h3>Matt Roberts</h3>
                            <h4>Personal Site</h4>
                            <h4><a class="social-links" href="https://www.linkedin.com/in/mattroberts-dev/" target="_blank">LinkedIn</a></h4>
                        </div>
                    </div><!-- End testimonial item -->
                    <div class="swiper-slide">
                        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">

                            <img src="~/Content/imgs/Michael Redifer.jpg" class="classmates">
                            <h3>Michael Redifer</h3>
                            <h4>Entrepreneur</h4>
                        </div>
                    </div><!-- End testimonial item -->
                    <div class="swiper-slide">
                        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">

                            <img src="~/Content/imgs/Romeo Bagunu.jpg" class="classmates">
                            <h3>Romeo Bagunu</h3>
                            <h4>Entrepreneur</h4>
                        </div>
                    </div><!-- End testimonial item -->

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Testimonials Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title">
                <h2>Contact</h2>
                <p>If you want you contact me, please fill out the form and make sure to follow me on GitHub and connect with me on LinkedIn. </p>
            </div>

            <div class="row" data-aos="fade-in">

                <div class="col-lg-5 d-flex align-items-stretch">
                    <div class="info">

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>justinpeacock30@outlook.com</p>
                        </div>

                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Call:</h4>
                            <p>+1 816 548 0301</p>
                        </div>

                        <div class="phone">
                            <i class="bi-github"><a href="https://github.com/JustinPeacoc" target="_blank"></a></i>
                            <h4><a class="contact-links" href="https://github.com/JustinPeacoc" target="_blank">GitHub</a></h4>
                            <p><a class="contact-links" href="https://github.com/JustinPeacoc" target="_blank"></a></p>
                        </div>

                        <div class="phone">
                            <i class="bi-linkedin"><a href="https://www.linkedin.com/in/justin-peacock-6aa829229/" target="_blank"></a></i>
                            <h4><a class="contact-links" href="https://www.linkedin.com/in/justin-peacock-6aa829229/" target="_blank">LinkedIn</a></h4>

                        </div>

                        <!--<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>-->
                    </div>

                </div>

                <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                    @*<form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="name">Your Name</label>
                                <input type="text" name="name" class="form-control" id="name" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="name">Your Email</label>
                                <input type="email" class="form-control" name="email" id="email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name">Subject</label>
                            <input type="text" class="form-control" name="subject" id="subject" required>
                        </div>
                        <div class="form-group">
                            <label for="name">Message</label>
                            <textarea class="form-control" name="message" rows="10" required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>*@
                    <div id="MessageContent"></div>
                    <div id="contactConfirmation">                       
                    </div>
                    <div id="contactForm">
                        @Html.Partial("ContactAjax", new PersonalSiteMVC.UI.Models.ContactViewModel())
                    </div>
                </div>
                

            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->

@section scripts {
   <script class="contactForm">
       $("#ContactCreateForm").submit(function (e) {
           var formData = $(this).serializeArray();
           e.preventDefault();
           $("#MessageContent").html("<div class= 'alert alert-info'>Please wait while your message is sending.</div>");
           $.ajax({
               url: "@Url.Action("ContactAjax", "Home")",
               type: "POST",
               data: formData,
               dataType: "json",
               success: function (data) {
                   $("#MessageContent").hide();
                   $("#contactConfirmation").load('@Url.Action("ContactConfirmation", "Home")',
                       { name: data.Name, email: data.Email }).show();
                   $("#ContactCreateForm")[0].reset();
                   setTimeout(function () {
                       $("#contactConfirmation").fadeToggle("slow");
                   }, 5000);
               },
               error: function (e) {
                   $("#MessageContent").html(
                       "<div class = 'alert alert-warning'>There was an error. Please try again later.</div>"
                   );
               }
           });
       });
    </script>
    }